.clients-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0;
    padding: 0;
    list-style: none;
    cursor: pointer;
  }
  
  .clients-item {
    @include centeredFlex(flex);
    list-style: none;
    padding-left: 0;
    margin: 0;
    padding-bottom: 0;
    width: calc(50% - 15px);

    height: 92px;
    @media screen and (min-width: $desktop) {
      width: 170px;
    }
  }
  
  .clients-link {
    @include centeredFlex(flex);
    border: 1px solid $color;
    border-radius: $border-radius;
    width: 100%;
    height: 100%;
    transition: border-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  
    &:hover,
    &:focus {
      border-color: $accent-color;
    }
  
    &:hover svg,
    &:focus svg {
      fill: $accent-color;
    }
  }
  
  .clients-name {
    fill: $color;
    transition: $transition-fill;
  }