section.description {
    padding-top: 0;
  }
  
  .subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: $primary-color;
    margin-top: 0;
    margin-bottom: 50px;
  }
  
  .subtitle-list {
    @include centeredFlex(flex);
    margin: 0;
    padding: 0;
  
    &__item {
      list-style: none;
    
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }
  
  .label {
    @include centeredFlex(flex);
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .occupation-label {
    color: $secondory-color;
    font-weight: 700;
    background: rgba(47, 48, 58, 0.8);
    position: absolute;
    width: 370px;
    height: 70px;
    bottom: 0;
    text-align: center;
    padding: 27px;
  }
  
  .occupation-photo {
    display: block;
    min-width: 100%;
    height: auto;
  }
  
  .subtitle-item {
    list-style: none;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: $secondory-color;
  
    &:not(:last-child) {
      margin-right: 30px;
    }
  }