.menu-list {
  &__portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0;
    list-style: none;
    margin-top: 0;
  }

  &__item {
    width: 100%;
    &:hover,
    &:focus {
      .product__description {
        opacity: 1;
        transform: translateY(0);
      }
    }

    @media screen and (min-width: $tablet) {
      width: calc(50% - 15px);
    }
    @media screen and (min-width: $desktop) {
      width: calc(100% / 3 - 20px);
    }
  }

  &__item div:last-of-type {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
    border-top: none;
  }

  &__link {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-decoration: none;
    transition: $transition-box-shadow;

    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.product {
  position: relative;
  overflow: hidden;

  &__photo {
    display: block;
    max-width: 100%;
    height: auto;
    width: 100%;
  }

  &__description {
    top: 0;
    left: 0;
    height: 100%;
    position: absolute;
    font-size: 18px;
    line-height: 28px;
    color: $secondory-color;
    padding: 63px 24px;
    transform: translateY(100%);
    z-index: 2;
    opacity: 0;
    transition: $transition-opacity, $transition-transform;

    &:hover,
    &:focus {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &__description::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 150, 243, 0.9);
    z-index: -1;
  }

  &__name {
    flex-grow: 1;
  }

  &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $primary-color;
    text-align: left;
  }

  &__subtitle {
    font-size: 16px;
    line-height: 1.88;
    color: $paragraph-color;
    margin-top: 4px;
    text-align: left;
  }
}
