.modal {
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  height: 581px;
  background-color: $secondory-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: $border-radius;
  transition: $transition-transform;
  max-width: 450px;
  @media screen and (min-width: $desktop) {
    max-width: none;
    width: 528px;
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-button {
  background: $secondory-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 9px;
  text-align: center;
  position: absolute;
  top: 7px;
  right: 8px;
  z-index: 3;

  &:hover svg,
  &:focus svg {
    fill: $accent-color;
  }
}

.modal-button svg {
  display: block;
  transition: $transition-fill;
}

.form {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 370px;
  @media screen and (min-width: $desktop) {
    width: auto;
  }

  &-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: $primary-color;
    margin-bottom: 12px;
  }

  &-field {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 10px;
    position: relative;

    &:focus-within > &__icon {
      fill: $accent-color;
    }

    &__icon {
      position: absolute;
      left: 12px;
      top: 50%;
      width: 18px;
      height: 18px;
      background-size: contain;
      align-items: center;
    }

    &__comment {
      padding: 12px 16px;
      border: $border;
      border-radius: $border-radius;
      width: 100%;
      height: 120px;
      resize: none;
      cursor: pointer;
      @media screen and (min-width: $desktop) {
        width: 448px;
      }

      &:focus {
        outline: none;
        border: $border-form;
      }
    }
  }

  &-field label {
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: $paragraph-color;
    left: 12px;
    top: 50%;
  }

  &-field input {
    height: 40px;
    border: $border;
    border-radius: $border-radius;
    cursor: pointer;
    position: relative;
    padding-left: 42px;
    width: 100%;

    &:focus {
      outline: none;
      border: $border-form;
    }
  }
}
.checkbox-form {
  &__label {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.03em;
    white-space: nowrap;
    margin-top: 20px;
    @media screen and (min-width: $desktop) {
      font-size: 14px;
      line-height: 24px;
      text-align: center;
    }
  }

  &__icon {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 15px;
    border: 2px solid black;
    border-radius: 2px;
    margin-right: 8px;
  }

  &__box {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  &__box:checked + &__icon {
    background-color: $accent-color;
    background-image: url(../images/iconcheck.svg);
    background-size: contain;
    background-origin: border-box;
    border-color: $accent-color;
  }

  & label {
    // line-height: 24px;
    color: $paragraph-color;
  }

  &__link {
    color: $accent-color;
  }
}

.submit {
  width: 200px;
  height: 50px;
  border-radius: $border-radius;
  border: $border;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  cursor: pointer;
  padding: 10px 55px 10px 56px;
  margin-top: 30px;
  position: absolute;
  left: 25%;
  color: $secondory-color;
  background-color: $accent-color;
  box-shadow: $box-shadow;
  transition: $transition-background-color;

  &:hover {
    filter: $filter;
    background-color: #188ce8;
  }
}
