.header {
  border-bottom: 1px solid #ececec;
  padding: 10px 0 9px;
  position: relative;

  @media screen and (min-width: $tablet) {
    padding: 21px 0 21px;
  }
  @media screen and (min-width: $desktop) {
    padding: 24px 0 25px;
  }

  & .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (min-width: $tablet) {
      justify-content: space-between;
    }
  }

  .navigation {
    @include centeredFlex(flex);
    display: none;
    @media screen and (min-width: $tablet) {
      flex: 1;
      display: flex;
    }
    @media screen and (min-width: $desktop) {
      flex: 0;
    }
  }

  &__button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;

    @media screen and (min-width: $tablet) {
      display: none;
    }

    .icon-close {
      display: none;
    }

    &.is-open .icon-close {
      display: block;
    }

    &.is-open .icon-menu {
      display: none;
    }
  }
}

.menu-mobile-container {
  background-color: $secondory-color;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  padding: 48px 40px;
  &.is-open {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media screen and (min-width: $tablet) {
      display: none;
    }
  }
  
  & .menu-contacts {
    display: block;
  }

  button {
    background: $secondory-color;
    border: none;
    width: 40px;
    height: 40px;
    text-align: center;
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 3;

    &:hover svg,
    &:focus svg {
      fill: $accent-color;
    }
  }
  .menu {
    display: flex;
    flex-direction: column;
    &__item {
      margin-bottom: 35px;
    }
    &__link {
      font-size: 40px;
      line-height: 47px;
    }
  }

  .mobile-menu-social-list {
    list-style-type: none;
    display: flex;
    &__item {
      border-right: 1px solid rgba(33, 33, 33, 0.2);
      &:last-child {
        border-right: none;
      }
    }
    &__link {
      color: $accent-color;
      text-decoration: none;
      display: block;
      padding: 5px 10px;
    }
  }
  .menu-contacts {
    display: flex;
    flex-direction: column;
    &__item {
      margin-left: 0;
    }
    &__link {
      display: inline-block;
      &--phone {
        font-weight: 500;
        font-size: 34px;
        line-height: 40px;
        letter-spacing: 0.02em;
        color: $accent-color;
        margin-bottom: 32px;
      }
      &--email {
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.02em;
        margin-bottom: 64px;
      }
    }
  }
}
