.team {
  background-color: $primary-section-background-color;

  &-photo {
    display: block;
    max-width: 270px;
    height: auto;
    text-align: center;
  }

  &-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    color: $primary-color;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  &-function {
    font-size: 16px;
    line-height: 1.18;
    color: $paragraph-color;
    margin-bottom: 16px;
    text-align: center;
  }
}

.social-network {
  @include centeredFlex(flex);
  margin: 0 0 30px;

  &__item {
    display: inline-block;
    list-style: none;
    fill: $paragraph-color;
    cursor: pointer;
    width: 44px;
    height: 44px;
    border: none;
    margin-right: 10px;
    padding: 0;
  }

  &__link {
    @include centeredFlex(flex);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: $transition-background-color;

    &:hover,
    &:focus {
      background-color: $accent-color;
    }

    &:hover svg,
    &:focus svg {
      fill: $secondory-color;
    }
  }

  &__link &__icon {
    fill: $color;
  }

  &__icon {
    fill: $secondory-color;
    width: 20px;
    height: 20px;
    transition: $transition-fill;
  }

  &__item:last-child {
    margin-right: 0px;
  }
}
