body {
  background-color: $secondory-color;
  color: $primary-color;
  font-family: $font-primary;
  font-size: 14px;
  letter-spacing: 0.03em;
}

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  // width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.section {
  padding: 94px 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}
