body {
    background-color: $secondory-color;
    color: $primary-color;
    font-family: $font-primary;
    font-size: 14px;
    letter-spacing: 0.03em;
  }
  
  * {
    box-sizing: border-box;
  }
  
  ul {
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .section {
    padding: 94px 0;
  }
  
  h1,
  h2,
  h3,
  p {
    margin: 0;
  }