$accent-color: #2196f3;
$primary-color: #212121;
$secondory-color: #ffffff;
$paragraph-color: #757575;
$section-background-color: #2f303a;
$primary-section-background-color: #f5f4fa;
$color: #afb1b8;
$transition-opacity: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1);
$transition-box-shadow: box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
$transition-background-color: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
$transition-color: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
$transition-transform: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
$transition-fill: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
$transition-visibility: visibility 0.25s cubic-bezier(0.4, 0, 0.2, 1);
$border-radius: 4px;
$box-shadow: box-shadow 0px 4px 4px rgba(0, 0, 0, 0.15);
$border: 1px solid rgba(33, 33, 33, 0.2);
$border-form: 1px solid #2196f3;
$footer-color: rgba(255, 255, 255, 0.6);
$footer-border: 1px solid rgba(255, 255, 255, 0.3);
$filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
$font-primary: "Roboto", sans-serif;
$font-secondary: "Raleway", sans-serif;


